<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :desktop_client, "I use an e-mail desktop client" %>
    <%= f.check_box :desktop_client %>
  </div>
  <div class="field">
    <%= f.label :contact_intensity, "I'd like to get in touch with" %>
    <%= f.text_field :contact_intensity, :size => 2 %> contacts per week.
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
