#settings
  
  %h2 Settings

  = form_for @user, :remote => true do |f|
    - if @user.errors.any?
      #error_explanation
        %h2
          =pluralize(@user.errors.count, "error")
          prohibited this user from being saved:

        %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

    %h3 Edit Introductory Email

    #email-window
      .top-bar
        %ul
          %li.close
          %li.min
          %li.max

      .address-fields
        .from
          %label From:
          .avatar
          = f.text_field :name
          .email
            (
            = f.text_field :email
            )
        .to
          %label To:
          .avatar
          %p all the awesome people you'll meet

      .email-body
        = f.text_area :signature, :rows => "8", placeholder: "Write your intro email here!"

        .contact-card
          .avatar
          .name Jeff Escalante
          .email hello@jenius.me

          %ul.social
            %li.twitter
            %li.linkedin
            %li.facebook
            %li.gplus

      .actions
        .test-button send me a test copy
        = f.submit "update"

    #other-prefs
      %h3 Other Preferences

      .field.desktop-client
        = f.label :desktop_client, "I use a desktop email client"
        = f.check_box :desktop_client

      .field.contact-intensity
        = f.label :contact_intensity, "I'd like to get in touch with"
        = f.text_field :contact_intensity, :size => 1
        contacts per week.

      %h4 Change my password:
      .field
        = f.label :current_password
        %em (we need your current password to confirm your changes)
        = f.password_field :current_password
      .field
        = f.label :password
        = f.password_field :password, :autocomplete => "off"     
      
      = link_to "Export my contacts (.csv)", '#', class: 'export-contacts'

    #bad-things
      .field
        = f.label :unsubscribed, "Do not receive any email from us"
        = f.select :unsubscribed, {"Yes" => true, "No" => false}
      .field
        = link_to "Cancel my account", '#'


    / .field
    /   = f.label :name
    /   = f.text_field :name
    / .field
    /   = f.label :email
    /   = f.text_field :email
    / .field.desktop-client
    /   = f.label :desktop_client, "I use a desktop email client"
    /   = f.check_box :desktop_client

    / .field.contact-intensity
    /   = f.label :contact_intensity, "I'd like to get in touch with"
    /   = f.text_field :contact_intensity, :size => 1
    /   contacts per week.
    / .field
    /   = f.label "Introductory Email"
    /   = f.text_area :signature, :rows => "8"  

    / .field
    /   = f.label :current_password
    /   %em (we need your current password to confirm your changes)
    /   = f.password_field :current_password
    / .field
    /   = f.label :password
    /   = f.password_field :password, :autocomplete => "off"
    / .field
    /   = f.label :unsubscribed, "Don't want to get any email from us? (not recommended)"
    /   = f.select :unsubscribed, {"Yes" => true, "No" => false}

    / .actions= f.submit

  %p
    = link_to "Export My Contacts", export_contacts_path
    (as a .csv file)

  %h3 Cancel my account

  %p
    Unhappy?
    = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete
