<%= form_for @user, :remote => true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :desktop_client, "I use an e-mail desktop client" %>
    <%= f.check_box :desktop_client %>
  </div>
  <div>
    <%= f.label :contact_intensity, "I'd like to get in touch with" %>
    <%= f.text_field :contact_intensity, :size => 1 %> contacts per week.
  </div>
  <div>
    <%= f.label :signature, "Email Signature (optional)" %><br />
    <%= f.text_field :signature %>
  </div>
  <div>
    <%= f.label :network_mode, "Are you currently at a networking event?" %>
    <%= f.select :network_mode, {"Yes" => true, "No" => false} %>
  </div>

  <div>
    <%= f.label :unsubscribed, "Would you like to Unsubscribe?" %> <br />
    <%= f.select :unsubscribed, {"Yes" => true, "No" => false} %>
  </div>
  
  <div>
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, :autocomplete => "off" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br />

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
