= form_for contact do |f|

  .avatar
    %img.preview{ src: "#{contact.avatar_url(:full) if contact.avatar? }" }
    = f.file_field :avatar
  .fields
    .field
      = f.text_field :email, placeholder: 'email'
    .field
      = f.text_field :name, placeholder: 'name'
    .add-notes
      %span add notes...
      .field
        = f.text_area :note
  .actions
    = f.submit "add contact &raquo;".html_safe