%h4 sign up!

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.email_field :email, placeholder: 'email', class: 'email-field'
  = f.password_field :password, placeholder: 'password', class: 'password-field'\
  %input.pass-visible{ type: 'text', placeholder: 'password' }
  %label{ for: 'show-pass' } show password
  %input.show-pass{ type: 'checkbox', name: 'show-pass' }

  = f.submit "let's go &raquo;".html_safe, class: 'form-submit'