- if @contact.errors.any?
  .flash.errors
  - @contact.errors.full_messages.each do |err|
    = err


.top
  %h3 Here are the people you want to stay in touch with:
  = link_to new_contact_path, :class => 'new-contact-button' do
    %span
    add new contact

  .add-contact
    = render partial: 'contact_form', :locals => { :contact => @contact }

%ul.contacts
  - @contacts.each do |contact|
    %li
      = image_tag contact.avatar_url(:thumb)
      %p
        = contact.name
        %span= "(#{contact.email})"
      .right
        = link_to 'Delete', contact, confirm: 'For real?', method: :delete, class: 'delete-contact'
        = link_to 'Edit', edit_contact_path(contact), class: 'edit-contact'
    .editing-contact
      = render partial: 'contact_form', :locals => { :contact => contact }