#splash
  %img{ src: 'assets/splash.png', alt: 'networkmill' }
  .wrap
    = link_to "sign up, free &raquo;".html_safe, new_user_registration_path, class: 'sign-up'

#home
  %h2 networkmill keeps track of your contacts and makes sure you stay in touch

  %ul.summary
    %li
      = image_tag 'step1.png'
      %p add people you want to stay in touch with
    %li
      = image_tag 'step2.png'
      %p get reminders every few weeks
    %li
      = image_tag 'step3.png'
      %p create new connections with our amazing app
      =render partial: 'text_app_url'


#sign-up
  = render partial: 'sign_up'
