/ Add new contact

#card

  #add-contact
    %h1 NetworkMill
    
    #counter
      - if current_user.network_mode
        = current_user.event_queue.contacts.count

    = form_tag(mobile_create_contact_path, :method => "post", :remote => true) do
      = text_field_tag :name, nil, :placeholder => 'name', :value => @contact.name
      = text_field_tag :email, nil, :placeholder => 'your@email.com', :value => @contact.email, :type => 'email'
      = text_area_tag :note, nil, :id => 'write-note', :placeholder => "how did you meet? (optional)"
      .actions
        = submit_tag "send &raquo;".html_safe

    .cog
      %span

  / Mobile preference menu

  #preference
    %header
      %h1 networkmill
    #bio
      #picture
      #name
        = @user.name.titleize if @user.name.present?
      #email
        = @user.email
      = link_to "account settings &raquo;".html_safe, root_url(:subdomain => false), :class =>"account-settings"
      = link_to "feedback &raquo;".html_safe, mobile_feedback_path, :class => "account-settings", :id => "feedback-tab"

    #signature
      = form_tag(update_mobile_user_path, :method => "post") do
        = text_area_tag :signature, @user.signature
        
        #network-mode
          %p
            Event Mode
            = select_tag :network_mode, options_for_select([["On", true], ["Off", false]], @user.network_mode)

        = submit_tag "start networking &raquo;".html_safe, :id => "start-networking"