%h1
  This is where you add a new contact biatch!

= form_tag(mobile_create_contact_path, :method => "post", :remote => true) do
  .fields
    .field
      = text_field_tag :email, nil, :placeholder => 'email', :value => @contact.email
    .field
      = text_field_tag :name, nil, :placeholder => 'name', :value => @contact.name
    .add-notes
      %span add notes...
      .field
        = text_area_tag :note, nil, :value => @contact.note
  .actions
    = submit_tag "add contact &raquo;".html_safe