/ Add new contact
%h1 Add new contact

= form_tag(mobile_create_contact_path, :method => "post", :remote => true) do
  .fields
    .field
      = text_field_tag :email, nil, :placeholder => 'email', :value => @contact.email
    .field
      = text_field_tag :name, nil, :placeholder => 'name', :value => @contact.name
    .add-notes
      %span add notes...
      .field
        = text_area_tag :note, nil, :value => @contact.note
  .actions
    = submit_tag "add contact &raquo;".html_safe


/ Mobile preference menu
%h1 Preference menu

= form_tag(update_mobile_user_path, :method => "post") do
  
  .field
    signature: 
    = text_area_tag :signature, @user.signature
  
  .field
    network mode: 
    = select_tag :network_mode, options_for_select([["On", true], ["Off", false]], @user.network_mode)

  = submit_tag "Save changes", :id => "submit"

= link_to "cancel", add_mobile_contact_path
= link_to "Go to full site", root_url(:subdomain => false)