/ Add new contact

#add-contact.toggle
  %h1 NetworkMill

  = form_tag(mobile_create_contact_path, :method => "post", :remote => true) do
    = text_field_tag :name, nil, :placeholder => 'name', :value => @contact.name
    = text_field_tag :email, nil, :placeholder => 'your@email.com', :value => @contact.email, :type => 'email'
    #add-note 
      how did you meet? (optional)
    = text_area_tag :note, nil, :value => @contact.note, :id => 'write-note', :placeholder => "Where you met, what you talked about, etc."
    .actions
      = submit_tag "send &raquo;".html_safe

  .cog
    %span


/ Mobile preference menu

#preference.toggle
  %h1 Preference menu

  = form_tag(update_mobile_user_path, :method => "post") do
    
    #signature 
      signature: 
      = text_area_tag :signature, @user.signature
    
    #network-mode
      network mode: 
      = select_tag :network_mode, options_for_select([["On", true], ["Off", false]], @user.network_mode)

    = submit_tag "Save changes", :id => "submit"

  = link_to "cancel", add_mobile_contact_path
  = link_to "Go to full site", root_url(:subdomain => false)
