%h1 Mobile preference menu goes here

%p 
  when user is done updating networking event preferences, have a button such as "Start Networking"

= form_tag(update_mobile_user_path, :method => "post") do
  
  .field
    name: 
    = text_field_tag :name, nil, :value => @user.name
  
  .field
    email: 
    = text_field_tag :email, nil, :value => @user.email
  
  .field
    signature: 
    = text_area_tag :signature, nil, :value => @user.signature
  
  .field
    network mode: 
    = #select_tag :network_mode, options_for_select("Yes" => true, "No" => false),  :selected => @user.network_mode

    / The above wasnt working
    = select_tag :network_mode, options_for_select([["On", true], ["Off", false]], @user.network_mode)

  = hidden_field_tag(:password)
  = hidden_field_tag(:current_password)

  = submit_tag "Save & Start Networking"

= link_to "network now", add_mobile_contact_path