<!DOCTYPE html>
<html>
  <head>
    <title>Networkmill</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!--Validation is below-->
    <% flash.each do |key, value|%>
      <div class="alert">
	<div id="flash_<%= key %>">
	  <%= value %>
	</div>
      </div>
    <% end %>
    <!--Validation is above-->

    <%= link_to "Home", "/" %>

    <%= yield %>

  </body>
</html>
