!!! 5
%head
  = render 'layouts/config'
  = stylesheet_link_tag 'application'
  = csrf_meta_tags

-# ------------------------------------------------------------------------------------------

%body
  #container
    %header
      .logo= link_to 'networkmill', root_path

      .status
        - if user_signed_in?
          %strong= "#{current_user.email}"
          %small
            = link_to "sign out", destroy_user_session_path, :method => :delete
        - else
          = link_to "sign up", new_user_registration_path
          or
          = link_to "sign in", new_user_session_path

    - flash.each do |k,v|
      #flash{ :class => "#{k}"}= v

    = yield

-# ------------------------------------------------------------------------------------------


-# help IE out with advanced selectors (http://selectivizr.com/)
/[if (gte IE6)&(lte IE8)]
  =javascript_include_tag 'selectivizr.js'

=javascript_include_tag 'application'
      
    