!!! 5
%head
  = render 'layouts/config'
  = stylesheet_link_tag 'application'
  = csrf_meta_tags
  %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
  %meta{ name: "apple-mobile-web-app-status-bar-style", content: "black" }

-# ------------------------------------------------------------------------------------------

%body#mobile

  - flash.each do |k,v|
    .flash{ :class => "#{k}"}= v

  = yield

-# ------------------------------------------------------------------------------------------


-# help IE out with advanced selectors (http://selectivizr.com/)
/[if (gte IE6)&(lte IE8)]
  =javascript_include_tag 'selectivizr.js'

=javascript_include_tag 'mobile.js'