!!! 5
%head
  = render 'layouts/config'
  = stylesheet_link_tag 'application'
  = csrf_meta_tags

-# ------------------------------------------------------------------------------------------

%body
  .sliver
  #container
    %header
      .logo= link_to 'networkmill', root_path
    = link_to "sign out", destroy_user_session_path, :method => :delete if current_user
    = link_to "settings", mobile_preferences_path if current_user
    = link_to "Full Site", root_url(:subdomain => false)

    - flash.each do |k,v|
      .flash{ :class => "#{k}"}= v

    = yield

  .underlay

-# ------------------------------------------------------------------------------------------


-# help IE out with advanced selectors (http://selectivizr.com/)
/[if (gte IE6)&(lte IE8)]
  =javascript_include_tag 'selectivizr.js'

=javascript_include_tag 'application'